In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('/Users/jeettrivedi/Desktop/Data Science/Data Pre-Processing/Data/iris_data.csv')

## 1) Make correlation metrix and store it into a variable

In [6]:
corr_iris = iris.corr()
# corr_iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

## 2) Unstack and sort the matrix in to a pandas series

In [74]:
sorted_corr = corr_iris.unstack().sort_values(ascending=False)
# sorted_corr

Id             Id               1.000000
SepalLengthCm  SepalLengthCm    1.000000
PetalLengthCm  PetalLengthCm    1.000000
SepalWidthCm   SepalWidthCm     1.000000
PetalWidthCm   PetalWidthCm     1.000000
PetalLengthCm  PetalWidthCm     0.962757
PetalWidthCm   PetalLengthCm    0.962757
               Id               0.899759
Id             PetalWidthCm     0.899759
PetalLengthCm  Id               0.882747
Id             PetalLengthCm    0.882747
PetalLengthCm  SepalLengthCm    0.871754
SepalLengthCm  PetalLengthCm    0.871754
               PetalWidthCm     0.817954
PetalWidthCm   SepalLengthCm    0.817954
Id             SepalLengthCm    0.716676
SepalLengthCm  Id               0.716676
SepalWidthCm   SepalLengthCm   -0.109369
SepalLengthCm  SepalWidthCm    -0.109369
PetalWidthCm   SepalWidthCm    -0.356544
SepalWidthCm   PetalWidthCm    -0.356544
               Id              -0.397729
Id             SepalWidthCm    -0.397729
SepalWidthCm   PetalLengthCm   -0.420516
PetalLengthCm  SepalWidthCm    -0.420516
dtype: float64

## 3) Make dataframe of previously unstacked series

In [76]:
corr_dataframe = pd.DataFrame(sorted_corr).reset_index()
# corr_dataframe

          level_0        level_1         0
0              Id             Id  1.000000
1   SepalLengthCm  SepalLengthCm  1.000000
2   PetalLengthCm  PetalLengthCm  1.000000
3    SepalWidthCm   SepalWidthCm  1.000000
4    PetalWidthCm   PetalWidthCm  1.000000
5   PetalLengthCm   PetalWidthCm  0.962757
6    PetalWidthCm  PetalLengthCm  0.962757
7    PetalWidthCm             Id  0.899759
8              Id   PetalWidthCm  0.899759
9   PetalLengthCm             Id  0.882747
10             Id  PetalLengthCm  0.882747
11  PetalLengthCm  SepalLengthCm  0.871754
12  SepalLengthCm  PetalLengthCm  0.871754
13  SepalLengthCm   PetalWidthCm  0.817954
14   PetalWidthCm  SepalLengthCm  0.817954
15             Id  SepalLengthCm  0.716676
16  SepalLengthCm             Id  0.716676
17   SepalWidthCm  SepalLengthCm -0.109369
18  SepalLengthCm   SepalWidthCm -0.109369
19   PetalWidthCm   SepalWidthCm -0.356544
20   SepalWidthCm   PetalWidthCm -0.356544
21   SepalWidthCm             Id -0.397729
22             Id   SepalWidthCm -0.397729
23   SepalWidthCm  PetalLengthCm -0.420516
24  PetalLengthCm   SepalWidthCm -0.420516

## 4) There will be some data with same name in both column remove them

In [77]:
remove_same_value = corr_dataframe['level_0'] == corr_dataframe['level_1']
index_of_same_value = corr_dataframe[remove_same_value].index

In [ ]:
corr_dataframe.drop(index_of_same_value,inplace=True)

In [85]:
corr_dataframe

          level_0        level_1         0
5   PetalLengthCm   PetalWidthCm  0.962757
6    PetalWidthCm  PetalLengthCm  0.962757
7    PetalWidthCm             Id  0.899759
8              Id   PetalWidthCm  0.899759
9   PetalLengthCm             Id  0.882747
10             Id  PetalLengthCm  0.882747
11  PetalLengthCm  SepalLengthCm  0.871754
12  SepalLengthCm  PetalLengthCm  0.871754
13  SepalLengthCm   PetalWidthCm  0.817954
14   PetalWidthCm  SepalLengthCm  0.817954
15             Id  SepalLengthCm  0.716676
16  SepalLengthCm             Id  0.716676
17   SepalWidthCm  SepalLengthCm -0.109369
18  SepalLengthCm   SepalWidthCm -0.109369
19   PetalWidthCm   SepalWidthCm -0.356544
20   SepalWidthCm   PetalWidthCm -0.356544
21   SepalWidthCm             Id -0.397729
22             Id   SepalWidthCm -0.397729
23   SepalWidthCm  PetalLengthCm -0.420516
24  PetalLengthCm   SepalWidthCm -0.420516

## 5) Now get the top N value from data frame according to your preference

In [90]:
corr_dataframe[0:10:2]

          level_0        level_1         0
5   PetalLengthCm   PetalWidthCm  0.962757
7    PetalWidthCm             Id  0.899759
9   PetalLengthCm             Id  0.882747
11  PetalLengthCm  SepalLengthCm  0.871754
13  SepalLengthCm   PetalWidthCm  0.817954

In [35]:
# sorted_corr_mat = dict(sorted_corr_mat)
# sorted_corr_mat

In [ ]:
# j = 0
# dic = {}
# for i in sorted_corr_mat:
#     if j%2==0:
#         key = i
#         val = sorted_corr_mat[i]
#         dic.update({key:val})
#     j += 1
# dic

In [87]:
# sorted_corr_mat = corr_iris.unstack().sort_values(ascending=False)
# sorted_corr_mat
# s = pd.DataFrame(sorted_corr_mat).reset_index()
# s.sort_values(by=0,ascending=True)
# filt = (s['level_0'] == s['level_1'])
# same_corr = s[filt].index
# s.drop(same_corr, inplace = True)
# display(s)
# display(s.iloc[0:10:2])